* {
  padding: 0px;
  margin: 0px;
}

.header {
  padding: 0 100px;
  background: #ffffff;
  z-index: 1;
}

.header__content {
  margin: 0px auto;
  max-width: 1440px;
}

.header ul {
  padding: 0px;
}

.header__nav {
  margin-bottom: 30px;
}

.header__nav__responsive li {
  padding: 10px 20px;
  list-style: none;
  color: #004b8d;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin-left: 10%;
}

.header__nav ul li {
  position: relative;
  list-style: none;
  margin-left: 6%;
  padding: 5px 0px;
}

.header__nav ul li:hover {
  color: #004b8d;
}

.header__nav ul li:hover .fa-angle-up {
  color: #004b8d;
  display: inline;
}

.header__nav ul li:hover .fa-angle-down {
  display: none;
}

.header__nav ul li:hover ul {
  position: absolute;
  display: block;
}

.header__nav ul li ul {
  top: 30px;
  margin: 0px;
  padding: 0px;
  display: none;
}

.header__nav ul li ul li {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  width: 200px;
  background: #004b8d;
  color: #ffffff;
  padding: 10px 5px;
  border-top: 1px solid #A9A9A9;
  -webkit-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;
}

.header__nav ul li ul li:hover {
  width: 200px;
  cursor: pointer;
  opacity: 0.7;
  color: #ffffff;
  padding-left: 10px;
}

.header__nav ul li ul:after {
  position: absolute;
  top: -8px;
  width: 1.65rem;
  height: 0.3125rem;
  content: "";
  background: #004b8d;
}

.header__nav__responsive {
  display: none;
}

@media (min-width: 1024px) and (max-width: 1259px) {
  .header__nav ul {
    margin: 0px;
  }
  .header__nav ul li {
    margin-left: 35px;
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) and (min-width: 300) {
  .header .sticky {
    position: relative;
  }
}

@media (min-width: 576px) and (max-width: 1023px) {
  .header {
    padding: 0px 20px;
  }
  .header__nav {
    display: none;
  }
  .header__nav .responsive ul {
    padding: 0px;
    margin: 0px;
  }
  .header__nav ul li:hover ul {
    position: relative;
  }
}

@media (max-width: 575px) {
  .header {
    padding: 0px;
  }
  .header__nav {
    display: none;
  }
  .header__nav ul {
    margin: 0px;
  }
  .header__nav ul li:hover ul {
    position: relative;
  }
}

.fa-angle-down:before {
  content: "\f107";
  margin-left: 1px;
}

.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.preheader {
  background: #004b8d;
  color: #ffffff;
  padding: 10px 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preheader__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px auto;
  max-width: 1440px;
}

.preheader__left li {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  margin-right: 10px;
  font-size: 12px;
}

.preheader__left li a:hover {
  border-bottom: 1px solid #A9A9A9;
}

.preheader__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  margin-right: 10px;
  font-size: 12px;
  width: 100%;
  margin: 0px auto;
  max-width: 1440px;
}

.preheader__right li {
  margin-right: 10px;
}

.preheader__right li a {
  color: #ffffff;
  text-decoration: none;
}

.preheader__right__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 576px) and (max-width: 1023px) {
  .preheader {
    padding: 20px 20px;
  }
  .preheader__left {
    display: none;
  }
  .preheader__right__links {
    margin-right: 70%;
  }
}

@media (max-width: 575px) {
  .preheader {
    padding: 20px 20px;
  }
  .preheader__left {
    display: none;
  }
  .preheader__right__links {
    margin-right: 50%;
  }
}

h4 {
  margin: 0px;
}

#close-btn {
  display: none;
}

.preheaderSubcontent {
  display: none;
  background: #004b8d;
  color: #ffffff;
  padding: 0px 80px;
}

.preheaderSubcontent__con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preheaderSubcontent__con__item {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.preheaderSubcontent__con__item ul li {
  cursor: pointer;
  list-style: none;
  font-size: 12px;
  padding: 8px 0px;
}

.preheaderSubcontent__con__item ul li:hover {
  background: #072F5F;
}

.preheaderSubcontent__con__item h4 {
  padding: 7px 0px;
  border-bottom: 1px solid #A9A9A9;
}

@media (min-width: 576px) and (max-width: 1023px) {
  .preheaderSubcontent__con {
    display: block;
  }
}

@media (max-width: 575px) {
  .preheaderSubcontent__con {
    display: block;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
}

.logo {
  width: 30vw;
}

@media (min-width: 1024px) and (max-width: 1259px) {
  .logo {
    width: 50vw;
    height: 10vh;
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) and (min-width: 300) {
  .logo .sticky {
    position: relative;
  }
}

@media (min-width: 576px) and (max-width: 1023px) {
  .logo {
    width: 70vw;
    height: 20vh;
  }
}

@media (max-width: 575px) {
  .logo {
    width: 100vw;
    height: 10vh;
    margin: auto;
    display: block;
  }
}

#hamburger {
  display: none;
}

.fa-angle-up {
  display: none;
}

#preheaderLeft {
  border-top: 1px solid #004b8d;
}

@media (min-width: 1024px) and (max-width: 1259px) {
  #hamburger, .fa-times {
    display: none;
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) and (min-width: 300) {
  .sticky {
    position: relative;
  }
}

@media (min-width: 576px) and (max-width: 1023px) {
  #hamburger {
    display: block;
  }
  .responsive {
    display: block;
  }
  .responsive ul {
    display: block;
  }
  .responsive ul li {
    background: #ffffff;
    padding: 5px 0px;
    color: #004b8d;
  }
}

@media (max-width: 575px) {
  .studyHeader {
    margin: 20px 20px;
  }
  #hamburger {
    display: block;
  }
  .responsive {
    display: block;
  }
  .responsive ul {
    display: block;
  }
  .responsive ul li {
    background: #ffffff;
    padding: 5px 0px;
    color: #004b8d;
  }
}

.lg-fontsize {
  font-size: 2rem;
  padding-top: 10px;
}

.xl-fontsize {
  font-size: 2.75rem;
  padding-top: 100px;
}

.bannerContainer {
  background: url("../images/sport.jpg");
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerContainer__content {
  margin: 0px auto;
  max-width: 1440px;
}

.bannerContainer__text {
  color: #ffffff;
  font-family: "Alfa Slab One", serif;
  padding-left: 100px;
  font-weight: bolder;
  width: 30%;
}

@media (max-width: 575px) {
  .bannerContainer__text {
    padding: 20px;
    width: 87%;
  }
}

.studyHeader {
  cursor: pointer;
  margin: 20px 100px;
  border-bottom: 1px solid #A9A9A9;
}

.studyHeader__text {
  font-weight: bold;
}

@media (min-width: 1024px) and (max-width: 1259px) {
  .studyHeader {
    margin: 0px 20px;
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) and (min-width: 300) {
  .studyHeader .sticky {
    position: relative;
  }
}

@media (min-width: 576px) and (max-width: 1023px) {
  .studyHeader {
    margin: 20px 20px;
  }
}

@media (max-width: 575px) {
  .studyHeader {
    margin: 20px 20px;
  }
}

.fa-home {
  color: #004b8d;
}

.studyBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 100px;
  max-width: 1440px;
  margin: 0 auto;
}

.studyBody__sidebar {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 20px 0px;
}

.studyBody__sidebar ul {
  padding: 0px;
  border: none;
  background: #edf6fb;
  padding: 20px;
}

.studyBody__sidebar ul li {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #004b8d;
}

.studyBody__sidebar ul li a:hover {
  border-bottom: 1px solid #004b8d;
}

.studyBody__help {
  margin: 50px 0px;
}

.studyBody__help h2 {
  margin: 5px 0px;
  color: #004b8d;
  font-family: "Alfa Slab One", serif;
  font-size: 2rem;
  letter-spacing: 0.125rem;
}

.studyBody__help p {
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
}

@media (min-width: 1024px) and (max-width: 1259px) {
  .studyBody {
    display: block;
    padding: 0px 20px;
  }
  .studyBody__sidebar {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) and (min-width: 300) {
  .studyBody .sticky {
    position: relative;
  }
}

@media (min-width: 576px) and (max-width: 1023px) {
  .studyBody {
    display: block;
    padding: 0px 20px;
  }
}

@media (max-width: 575px) {
  .studyBody {
    display: block;
    padding: 20px;
  }
  .studyBody__sidebar {
    display: block;
  }
}

#study-sidebar-header {
  padding-right: 40px;
  background: #004b8d;
  padding-left: 5px;
  color: #ffffff;
}

.studyContent {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  padding-left: 24px;
  margin-top: 13px;
}

.studyContent h2 {
  color: #004b8d;
  font-family: "Alfa Slab One", serif;
  font-size: 2rem;
}

.studyContent__text {
  line-height: 1.8;
}

.studyContent__nav {
  font-size: 1.5rem;
  font-family: "Alfa Slab One", serif;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 30px;
}

.studyContent__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

.studyContent__nav ul li {
  cursor: pointer;
  color: #004b8d;
  list-style: none;
  padding-right: 10px;
  text-decoration: underline;
}

.studyContent__nav ul li:hover {
  text-decoration: none;
}

.studyContent__img {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 250px;
  margin: 5px;
}

.studyContent__img img {
  width: 100%;
}

.studyContent__img img:hover {
  opacity: 0.5;
}

.studyContent__img__caption {
  display: block;
  background-color: #E5E5E5;
  color: #004b8d;
  width: 100%;
  height: 50px;
  margin-top: -5px;
  padding-top: 10px;
  letter-spacing: 0.1rem;
  font-family: 14.4px "Roboto", sans-serif;
}

.studyContent__img__caption:hover {
  background-color: #072F5F;
  color: #E5E5E5;
}

@media (min-width: 1024px) and (max-width: 1259px) {
  .studyContent {
    padding: 0px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .studyContent__img {
    width: 230px;
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) and (min-width: 300) {
  .studyContent .sticky {
    position: relative;
  }
}

@media (min-width: 576px) and (max-width: 1023px) {
  .studyContent {
    padding: 0px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .studyContent__img {
    width: 230px;
  }
}

@media (max-width: 575px) {
  .studyContent {
    display: block;
    padding: 20px;
  }
  .studyContent__nav ul {
    display: block;
    padding: 0px;
  }
  .studyContent__img {
    width: 80vw;
    display: table;
    margin: 10px auto;
  }
}

strong {
  cursor: pointer;
  color: #004b8d;
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
  margin-top: 20px;
}

strong:hover {
  color: gray;
  text-decoration: none;
}

@media (min-width: 576px) and (max-width: 1023px) {
  .header__nav ul {
    margin: 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__nav ul li {
    margin-left: 20px;
  }
}

.footerBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../images/footer_banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10%;
  text-align: center;
}

.footerBanner h4 {
  font-family: 44px "Alfa Slab One", serif;
  color: #ffffff;
  font-size: 2.75rem;
  margin: 0px 0px;
  text-align: center;
  font-weight: bold;
}

.footerBanner p {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #ffffff;
  font-size: 1.65rem;
}

.footerBanner__text {
  margin: auto;
}

.footerBanner__sidebar {
  margin: auto;
}

.footerBanner__sidebar ul li {
  cursor: pointer;
  font-size: 1.65rem;
  font-weight: 400;
  list-style: none;
  margin-top: 5px;
  text-align: left;
  background: #004b8d;
  color: #ffffff;
  padding: 10px 10px;
}

.footerBanner__sidebar ul li:hover {
  background: #072F5F;
  margin-top: 5px;
}

@media (min-width: 576px) and (max-width: 1023px) {
  .footerBanner {
    display: block;
  }
  .footerBanner__sidebar ul li {
    width: 20%;
    margin: 10px auto;
  }
}

@media (min-width: 1024px) and (max-width: 1259px) {
  .footerBanner {
    display: block;
  }
  .footerBanner__sidebar ul li {
    width: 15%;
    margin: 10px auto;
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) and (min-width: 300) {
  .footerBanner .sticky {
    position: relative;
  }
}

@media (max-width: 575px) {
  .footerBanner {
    padding: 20px, 5px;
    display: block;
  }
  .footerBanner__text {
    display: block;
  }
  .footerBanner__sidebar {
    width: 150px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.show {
  display: block;
}

.footerarea {
  padding: 20px;
  background: #004b8d;
}

.footerarea__container {
  padding: 0 0 25px 20px;
  border-bottom: 1px solid #A9A9A9;
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 1260px) {
  .footerarea__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footerarea__container__media {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footerarea__container__media h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin: 20px 0px;
}

.footerarea__container__media ul {
  padding: 0px;
}

.footerarea__container__media ul li {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  list-style: none;
  padding: 5px 0px;
  font-size: 15px;
}

.footerarea__container__tools {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footerarea__container__tools h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin: 20px 0px;
}

.footerarea__container__tools ul {
  padding: 0px;
}

.footerarea__container__tools ul li {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  list-style: none;
  padding: 5px 0px;
  font-size: 15px;
}

.footerarea__container__administration {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footerarea__container__administration h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin: 20px 0px;
}

.footerarea__container__administration ul {
  padding: 0px;
}

.footerarea__container__administration ul li {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  list-style: none;
  padding: 5px 0px;
  font-size: 15px;
}

.footerarea__container__address {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.footerarea__container__address h4 {
  margin: 20px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.footerarea__container__mission {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto 0;
}

.footerarea__container__mission ul {
  padding: 0px;
}

.footerarea__container__mission ul li {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  list-style: none;
  padding: 5px 0px;
  font-size: 15px;
}

@media (min-width: 1024px) and (max-width: 1259px) {
  .footerarea__container {
    display: block;
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) and (min-width: 300) {
  .footerarea .sticky {
    position: relative;
  }
}

@media (max-width: 575px) {
  .footerarea__container {
    display: block;
    padding-left: 0px;
  }
  .footerarea__container__address h4 {
    margin: 0px;
    padding-top: 20px;
  }
  .footerarea__container__media, .footerarea__container__tools, .footerarea__container__administration, .footerarea__container__mission {
    display: block;
  }
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
}

.contactInfo__address a {
  display: block;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  list-style: none;
  padding: 5px 0px;
  font-size: 15px;
}

.contact--left {
  margin-left: 20px;
}

.social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social_links li {
  margin-right: 10px;
}

.map {
  width: 50%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.con-admision {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  list-style: none;
  font-size: 15px;
  padding: 15px 0px;
}

ol li {
  display: block;
  background: #004b8d;
}

.footerDown {
  padding: 10px 0px 10px 20px;
}

.footerDown p,
.footerDown div {
  display: inline-block;
  width: 45%;
  color: #ffffff;
}

.footerDown__right ul li {
  list-style: none;
  float: right;
  margin-right: 10px;
  font-size: 14px;
}

@media (max-width: 575px) {
  .contactInfo {
    display: block;
  }
  .contact--left {
    margin: 0px;
  }
  .footerDown {
    padding: 20px 10px;
    font-size: 12px;
  }
  .map {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */