*{
    padding:0px;
    margin:0px;
}



.header 
{

    padding: 0 100px;
    background: $backgroundWhite;
    z-index: 1;
    &__content{
        margin:0px auto;
        max-width:1440px;
    }
       ul{
       padding:0px;
      }
    &__nav{
    margin-bottom: 30px;
    &__responsive 
    {
        li {
    padding:10px 20px;
    list-style: none;
    color:$backgroundBlue;
        }
        
}

    ul{
        display: flex;
       
       
        padding: 0px;
        margin-left: 10%;
      li{
        position: relative;
        list-style: none;
        margin-left:6%;
        padding:5px 0px;
        &:hover{
            color: $backgroundBlue;
                .fa-angle-up{
                color: $backgroundBlue;
                display:inline;
                    
        }
         .fa-angle-down{
            display: none;
          
           
        }
         ul{
            position: absolute;
            display:block;
        }
    }
        ul {
           top: 30px;
            margin:0px;
            padding:0px;
            display: none;
            li{
                margin:0px;
                padding:0px;
                cursor: pointer;
                width:200px;
                @include background;
                padding:10px 5px;
                border-top: 1px solid $underline;
                transition: .25s all ease-in-out;
                &:hover{
                    width:200px;
                    cursor: pointer;
                    opacity: 0.7;
                    color: $textColorWhite;
                    padding-left:10px;
                    
                }
              
            }
            &:after{
                position: absolute;
                top:-8px;
                width: 1.65rem;
                height: 0.3125rem;
                content: "";
                background: $backgroundBlue;
            }
           
      }
    }
    
}
&__responsive{
    display:none;
}
}
@include lgtablet{
    
    &__nav {
        ul{
       
        margin:0px;
        li{
            margin-left: 35px;
        }
    }
    }
}

@include smtablet{
    padding:0px 20px;
       &__nav {
     display:none;
         .responsive {
         ul{
         padding: 0px;
         margin:0px;
         
     }
  }
     ul
     { 
    
      li:hover ul{
         position: relative;
     }
     }
 }
}
@include mobile{
    padding:0px;

    &__nav {
     
        display:none;
        ul{
            
            margin:0px;
        li:hover ul{
            position: relative;
        }
    }
}
}

}
.fa-angle-down:before {
    content: "\f107";
    margin-left: 1px;
}
.modal-open {
    height: 100vh;
    overflow-y: hidden;
  }
.preheader{
    
   @include background;
   padding:10px 110px;
   display: flex;

   &__left{

    display:flex;
    padding: 0px;
    margin:0px auto;
    max-width:1440px;
    li{
        cursor: pointer;
        text-decoration: none;
        list-style: none;
        margin-right: 10px;
        font-size: 12px;
        a:hover{
            border-bottom: 1px solid $underline;
        }
    }
}

    &__right{

        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        text-decoration: none;
        list-style: none;
        margin-right: 10px;
        font-size: 12px;
        width:100%;
        margin:0px auto;
        max-width:1440px;

    li{
        margin-right: 10px;
        a{
            color: $textColorWhite;
            text-decoration: none;
        }
    }
    &__links{
        display: flex;
    }
}

@include smtablet{
    padding:20px 20px;
        &__left{
         display:none;
        }
        &__right{
            &__links{
         margin-right: 70%;
     }
 }
 }
@include mobile{
    padding:20px 20px;
    &__left{
        display:none;
    }
    &__right{
        &__links{
        margin-right: 50%;
    }
}
 
}
}


h4{
    margin:0px;
}
#close-btn{
    display:none;
}


.preheaderSubcontent{

    display: none;
    @include background;
   padding:0px 80px;
   
   &__con{
    display: flex;


    &__item{
    padding:20px;
    flex:1;
    ul 
    {
        li{
    cursor: pointer;
    list-style: none;
    font-size: 12px;
    padding:8px 0px;

    &:hover{
        background: $hoverBlue;
    }
    }
    }
    h4{
        padding: 7px 0px;
        border-bottom: 1px solid $underline;
    }
}

   
    }
  @include smtablet{
        &__con{
        display:block;
        }
    }
   @include mobile{
        &__con{
        display:block;
        }
    }

}

.sticky {
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
   
    
  }

.logo{
    width:30vw;
    @include lgtablet{
      
            width: 50vw;
            height: 10vh;
        
    }

@include smtablet {
         
         width:70vw;
        height: 20vh;
}  
   @include mobile{
  
        width:100vw;
        height: 10vh;
        margin: auto;
        display: block;
       
    
   }
}
#hamburger{
    display:none;
}


.fa-angle-up{
    display: none;
}



#preheaderLeft{
    border-top:1px solid $backgroundBlue;
}


@include lgtablet {
  
    
      #hamburger,.fa-times{
        display:none;
    }
  
}

@include smtablet {
       
   #hamburger{
       display:block;
   }
   
   .responsive {
       display: block;
       ul 
       {
        display: block;
           li{
           background: $backgroundWhite;
           padding:5px 0px;
           color: $backgroundBlue;
       }
    }
   }
   
}
 

    @include mobile{
       
    
    .studyHeader{
        margin:20px 20px;
    }
    #hamburger{
        display:block;
    }
  
    .responsive 
    {
        display: block;
        ul{
           display: block;
           li{
            background: $backgroundWhite;
            padding:5px 0px;
            color: $backgroundBlue;
            
             }
        }
      }
     

   
}
  
    
