*{
    padding:0px;
    margin:0px;
}

.header 
{
 
    padding: 0 100px;
    background: $backgroundWhite;
    z-index: 1;
    &__content{
        margin:0px auto;
        max-width:1440px;

        &__search{
          
          
            &__Container{
                position: absolute;
                top:7%;
                left:75%;
              display: none;
            }
        }
    }
       ul{
       padding:0px;
      }
    &__nav{
    margin-bottom: 30px;
    &__responsive 
    {
        li {
    padding:10px 20px;
    list-style: none;
    color:$backgroundBlue;
        }
        
}

    ul{
        display: flex;
       
       
        padding: 0px;
        margin-left: 10%;
      li{
        position: relative;
        list-style: none;
        margin-left:6%;
        padding:5px 0px;
        &:hover{
            color: $backgroundBlue;
                .fa-angle-up{
                color: $backgroundBlue;
                display:inline;
                    
        }
         .fa-angle-down{
            display: none;
          
           
        }
         ul{
            position: absolute;
            display:block;
        }
    }
        ul {
           top: 30px;
            margin:0px;
            padding:0px;
            display: none;
     
            li{
                margin:0px;
                padding:0px;
                cursor: pointer;
                width:200px;
                @include background;
                padding:10px 5px;
                border-top: 1px solid $underline;
                transition: .25s all ease-in-out;
                &:hover{
                    width:195px;
                    cursor: pointer;
                 
                    color: $textColorWhite;
                    padding-left:10px;
                    
                }
              
            }
            &:after{
                position: absolute;
                top:-8px;
                width: 1.65rem;
                height: 0.3125rem;
                content: "";
                background: $backgroundBlue;
            }
         
           
      }
    }
    
}
&__responsive{
    display:none;
}
}
@include lgtablet{
    
    &__content{
       

        &__search{
          
          
            &__Container{
                position: relative;
               left:0px;
              display: none;
            }
        }
    }

    &__nav {
        ul{
       
        margin:0px;
        li{
            margin-left: 32px;
        }
    }
    }
}

@include smtablet{
    padding:0px 20px;
    &__content{
       

        &__search{
          
          
            &__Container{
                position: relative;
               left:0px;
              display: none;
            }
        }
    }

       &__nav {
     display:none;
         .responsive {
         ul{
         padding: 0px;
         margin:0px;
         
     }
  }
     ul
     { 
    
      li:hover ul{
         position: relative;
     }
     }
 }
}
@include mobile{

    &__content{
       

        &__search{
          
          
            &__Container{
                position: relative;
               left:0px;
              display: none;
            }
        }
    }


    padding:0px;

    &__nav {
     
        display:none;
        ul{
            
            margin:0px;
        li:hover ul{
            position: relative;
            height: 235px;
            top: 5px;
            li{
            transition: none;
            }
            
        }
    }
}
}

}

.modal-open {
    height: 100vh;
    overflow-y: hidden;
  }
.preheader{
    
   @include background;
   padding:10px 110px;
  
   &__content{
    display: flex;
  
       max-width: 1440px;
       margin:0 auto;
   }
   &__left{
    margin:0 auto;
    max-width:1440px;
    display:flex;
    padding: 0px;
    margin:0px auto;
    max-width:1440px;
    ul{
        display: flex;
    li{
        cursor: pointer;
        text-decoration: none;
        list-style: none;
        margin-right: 10px;
        font-size: 12px;
        a{
            // padding-right:1px;
            &:hover{
            border-bottom: 1px solid $underline;
        }
        &:after{
            @include menu;
            background-color: lightgrey;
        }
        
    }
    &:last-child::after{
        @include menu;    
        background-color: $backgroundBlue;
    }
    }
}
}

    &__right{
        margin:0 auto;
        max-width:1440px;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        text-decoration: none;
        list-style: none;
        margin-right: 10px;
        font-size: 12px;
        width:100%;
        margin:0px auto;
        max-width:1440px;

    li{
        margin-right: 10px;
        list-style: none;
        text-decoration: none;
        a{
            color: $textColorWhite;
            text-decoration: none;
        }
    }
    &__links{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@include smtablet{
    padding:20px 20px;
        &__left{
         display:none;
        }
        &__right{
            &__links{
         margin-right: 70%;
     }
 }
 }
@include mobile{
    padding:20px 20px;
    &__left{
        display:none;
    }
    &__right{
        li{
            margin-right: 10px;
            list-style: none;
            text-decoration: none;
            a{
               
                text-decoration: none;

            }
        }
        &__links{
        margin-right: 50%;
       
    }
}
 
}
}


h4{
    margin:0px;
}
#close-btn{
    display:none;
}


.preheaderSubcontent{

    display: none;
    @include background;
   padding:0px 80px;
   
   &__con{
    display: flex;
    margin:0 auto;
    max-width:1440px;


    &__item{
    padding:20px;
    flex:1;
    ul 
    {
        li{
    cursor: pointer;
    list-style: none;
    font-size: 12px;
    padding:8px 0px;

    &:hover{
        background: $hoverBlue;
    }
    }
    }
    h4{
        padding: 7px 0px;
        border-bottom: 1px solid $underline;
    }
}

   
    }
  @include smtablet{
        &__con{
        display:block;
        }
    }
   @include mobile{
        &__con{
        display:block;
        }
    }

}

.sticky {
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
   
    
  }

.logo{
    width:30vw;
    @include lgtablet{
      
            width: 50vw;
            height: 10vh;
        
    }

@include smtablet {
         
         width:70vw;
        height: 20vh;
}  
   @include mobile{
  
        width:100vw;
        height: 10vh;
        margin: auto;
        display: block;
       
    
   }
}
#hamburger-con{
    display:none;
}


.fa-angle-up{
    display: none;
}



#preheaderLeft{
  
    margin-left: 6px;

}


@include lgtablet {
  
    
    #hamburger-con,.fa-times{
        display:none;
    }
  
}

@include smtablet {
       
    #hamburger-con{
       display:block;
   }
   
   .responsive {
       display: block;
       ul 
       {
        display: block;
           li{
           background: $backgroundWhite;
           padding:5px 0px;
           color: $backgroundBlue;
       }
    }
   }
   
}
 

    @include mobile{
       
    
    .studyHeader{
        margin:20px 20px;
    }
    #hamburger-con{
        display:block;
    }
  
    .responsive 
    {
        display: block;
        ul{
           display: block;
           li{
            background: $backgroundWhite;
            padding:5px 0px;
            color: $backgroundBlue;
            
             }
        }
      }
     

   
}
  
    
.search-text{
                 
    padding:6px 0px;
  
}
.search-button{
    padding: 0px;
    margin: -6px;
    background: #004b8d;
    color: white;
    padding: 5px;
    border: none;
  
    height: 30px;

}
#search-close-btn{
    color:$backgroundBlue;
    margin-left:5px;
}
#hamburger-con{
    border: 1px solid white;
    padding:5px;
}