
.bannerContainer__text{
   
    color:$textColorWhite;
    font-family: $alpaFont;
   
    padding-left:100px;
    padding-top:100px; 
    font-weight:bolder;
    width: 30%;
   
}

.lg-fontsize{
    font-size: 2rem;
    padding-top:10px; 
}
.xl-fontsize{
    font-size: 2.75rem;
    padding-top:100px; 
}
.bannerContainer{
 
    background: url("../images/sport.jpg");
    height:400px;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.studyHeader{
    cursor:pointer;
    margin:20px 100px;
    border-bottom:1px solid $underline;
   
}
.studyHeader__text{
    font-weight: bold;
}
.fa-home{
    color: $backgroundBlue;
    
}
.studyBody{
    display: flex;
    padding: 0px 100px;
    max-width: 1440px;
   margin:0 auto;
}
.studyBody__sidebar{
    flex-basis:25%;
    padding: 20px 0px;
    ul{
        padding: 0px;
        border: none;
        background: $side-barColor;
        padding:20px;
        li{
            cursor: pointer;
            font-family: $roboFont;
            font-weight: 400;
            list-style: none;
            padding-top:10px;
            padding-bottom: 10px;
            color :$backgroundBlue;
            a:hover{
                border-bottom: 1px solid $backgroundBlue;
            }
        }
    }

}


#study-sidebar-header{
  padding-right: 40px;
  background:$backgroundBlue;
  padding-left:5px;
  color: $textColorWhite;
}
.studyContent{
    flex-basis:75%;
    padding-left:24px;
    margin-top: 30px;
    h2{
        color: $backgroundBlue;
        font-family: $alpaFont;
        font-size: 2rem;
    }
}
.studyBody{
    display: flex;
    padding: 0px 100px;
}
.studyBody__sidebar{
    flex-basis:25%;
    padding: 20px 0px;

}

.studyContent__text{
    line-height: 1.8;
}
.studyContent__nav{
    font-size: 1.5rem;
    font-family: $alpaFont;
    font-weight: bold;
    margin-top:60px;
    margin-bottom: 30px;
    ul{
        display:flex;
        padding:0px;
        li{
            cursor:pointer;
            color: $backgroundBlue;
            list-style:none;
            padding-right: 10px;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
}

.studyContent__img {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 250px;
    margin: 5px;
   img{
    width:100%;
   
    &:hover{
        opacity:0.5;
    }
   }
}


.studyContent__img__caption {
    display: block;
    background-color: #E5E5E5;
    color: #004b8d;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    letter-spacing: 0.1rem;
    font-family: 14.4px "Roboto",sans-serif;
  

    &:hover{
        background-color: $hoverBlue;
        color:$imageCaptionColor;
    }
}

.studyBody__help{
    margin:50px 0px;
    h2{
        margin:5px 0px;
        color: $backgroundBlue;
        font-family: $alpaFont;
        font-size: 2rem;
        letter-spacing: 0.125rem;
    }
    p{
        font-family:$roboFont;
        line-height: 1.8;
    }
}

strong{
    cursor:pointer;
    color: $backgroundBlue;
    font-family:$roboFont;
    text-decoration: underline;
    margin-top:20px;
    &:hover{
        color:gray;
        text-decoration: none;
    }
}

@include lgtablet {
    
  
  
    .studyHeader{
        margin:0px 20px;
    }
    .studyBody{
        display: block;
        padding:0px 20px;
    }
    .studyBody__sidebar{
          flex-basis: 100%;

    }
    .studyContent{
        padding: 0px;
        flex-basis: 100%;
    }
    .studyContent__img{
        width:230px;
    }
}
@include smtablet{

    .header__nav 
    {
        ul{
        margin:0px;
        justify-content: flex-start;
        li{
            margin-left: 20px;
        }
    }
}
    .studyBody{
        display: block;
        padding:0px 20px;
    }
    .study-sidebar{
          flex-basis: 100%;
    
    }
    .studyContent{
        padding: 0px;
        flex-basis: 100%;
    }
    .studyHeader{
        margin:20px 20px;
    }
    .studyContent__img{
        width:230px;
    }
}


   @include mobile{

            .studyBody,.studyContent{
                display:block;
                padding:20px;
            }
            
            .studyHeader{
                margin:20px 20px;
            }
            .studyContent__nav {
                ul{
              display: block;
              padding:0px;
                }
             }
              .bannerContainer__text{
                 padding:20px;
                 width:87%;
              }
              
              .text{
                  font-size:24px;
                  padding:20px;
              }
              .study-sidebar{
                display:block;
              }
            .studyContent__img{
                width:80vw;
                display: table;
                margin: 10px auto;
            
            }
        
      
        
    }
